
<div class="card-deck card-page-container">

  <% if @journeys.empty? %>
    <h3> You don't have any journeys with us. Start filling your dashboard by planning some trips! </h3>
  <% else %>
    <div class="px-5 mt-3">
      <h1>Past Journeys</h1>
    </div>
    <% if @journeys.first.end_date >= Date.today %>
      <h4> You don't have any past travel with us </h4>
    <% else %>
      <div class="bg-light p-3 m-3 border cards-container">
          <% @journeys.each do |journey| %>
          <% if journey.end_date < Date.today %>
            <div class="card shadow p-3 bg-white rounded-lg" style="width: 18rem;">
              <%= image_tag "#{journey.city_journeys.first.city.name}.jpg", :class => "dashboard-image" %>
              <div class="card-body text-center">
                <p><%= link_to "#{journey.name}", journey_path(journey) %></p>
                <p><%= "#{journey.tag}" %></p>
                <div id="dates">
                  <p> From <%= journey.start_date.strftime("%a %d %B") %> to <%= journey.end_date.strftime("%a %d %B") %> </p>
                </div>
                <div class="delete border-top mt-3 pt-3">
                  <p class="btn text-white button-cancel rounded-pill m-1"><%= link_to "Delete Trip", journey_path(journey), data: { "turbo-method": :delete } %></p>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
      </div>
    <% end %>

    <div class="px-5 mt-3">
      <h1>Current Journeys</h1>
    </div>

    <% if @current_journey.size == 0 %>
      <h4> You are not currently travelling with us. What are you waiting for ? </h4>
    <% else %>
      <div class="bg-light p-3 m-3 border cards-container">
          <% @journeys.each do |journey| %>
            <% if journey.start_date <= Date.today && journey.end_date >= Date.today %>
              <div class="card shadow p-3 bg-white rounded-lg" style="width: 18rem;">
                <%= image_tag "#{journey.city_journeys.first.city.name}.jpg", :class => "dashboard-image" %>
                <div class="card-body text-center">
                  <p><%= link_to "#{journey.name}", journey_path(journey) %></p>
                  <p><%= journey.tag %></p>
                  <div id="dates">
                    <p> From <%= journey.start_date.strftime("%a %d %B") %> to <%= journey.end_date.strftime("%a %d %B") %> </p>
                  </div>
                  <div class="delete border-top mt-3 pt-3">
                    <p class="btn text-white button-cancel rounded-pill m-1"><%= link_to "Delete Trip", journey_path(journey), data: { "turbo-method": :delete } %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    <% end %>

    <div class="px-5 mt-3">
      <h1>Future Journeys</h1>
    </div>

    <% if @journeys.last.start_date <= Date.today %>
      <h4> It seems you don't have any future journeys. It's time to start planning ! </h4>
    <% else %>
      <div class="bg-light p-3 m-3 border cards-container">
        <% @journeys.each do |journey| %>
        <% if journey.start_date > Date.today %>
          <div class="card shadow p-3 bg-white rounded-lg" style="width: 18rem">
            <%= image_tag "#{journey.city_journeys.first.city.name}.jpg", :class => "dashboard-image" %>
            <div class="card-body text-center">
              <p><%= link_to "#{journey.name}", journey_path(journey) %></p>
              <p><%= journey.tag %></p>
              <div id="dates">
                <p> From <%= journey.start_date.strftime("%a %d %B") %> to <%= journey.end_date.strftime("%a %d %B") %></p>
              </div>
              <div class="delete border-top mt-3 pt-3">
                <p class="btn text-white button-cancel rounded-pill m-1"><%= link_to "Delete Trip", journey_path(journey), data: { "turbo-method": :delete } %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
