 <div class="city-banner d-flex justify-content-center align-items-center" style="background-image: url('<%= image_path "#{city_journeys.first.city.name}.jpg"%>')">
    <h1> <%= journey.name %> </h1>
  </div>

  <div class="page-container">
    <div class= "">
      <h4 class="mt-5" data-edit-journey-target="title">
        <%= "This journey starts on "%><u><%="#{city_journeys.first.start_date.strftime("%a %d %B")}"%></u> in <u><%="#{city_journeys.first.city.name}"%></u><%=" and ends on "%> <u><%="#{city_journeys.last.end_date.strftime("%a %d %B")}"%></u> <%="in"%> <u><%="#{city_journeys.last.city.name}." %></u>
      </h4>
      <div>
        <% city_journeys.each_with_index do |city_journey, index| %>
          <%= render "journeys/city_journey_card", city_journey: city_journey, index: index %>
        <% end %>
      </div>

      <h4 class="ml-2 p-3"> Enjoy your trip! </h4>
    </div>
    <div style="width: 50%" class="mt-0 m-5">
      <div>
        <% if current_user.journeys.last.nil? || current_user.journeys.last.id != journey.id %>
          <%= nil %>
        <% else %>
          <div class="refresh-container d-flex justify-content-center align-items-center">
            <div class="box-ref mt-4">
              <%= button_to raw('<h1>Try Again</h1>'), journeys_create_new_path, method: :post , class:"btn btn-ref"%>
            </div>
          </div>
        <% end %>
      </div>
      <%= render "journeys/mapbox", markers: markers %>
    </div>
