<h3 class="mt-5" data-edit-journey-target="title">
  <%= "This journey starts on "%><u><%="#{@city_journeys.first.start_date.strftime("%a %d %B")}"%></u> in <u><%="#{@city_journeys.first.city.name}"%></u><%=" and ends on "%> <u><%="#{@city_journeys.last.end_date.strftime("%a %d %B")}"%></u> <%="in"%> <u><%="#{@city_journeys.last.city.name}." %></u>
</h3>
