<h1>Create a new journey </h1>

<%= simple_form_for(@journey) do |f| %>
  <%= f.input :name %>
  <%= f.input :country, priority: [ "France" ], collection: [ "Australia", "Brazil", "New Zealand", "France" ] %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :tag %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
