<div class="form-container mb-4">
<div class="form-img w-100">
  <h1 class="adv-heading">Ready for an Adventure! </h1>
</div>
<%# implement a button, to autoinput surprise me for all, careful to have seeds for everything tho %>
<div class="form-inputs">
  <%= simple_form_for @journey, data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :name, label: "Name Your Journey" %>
    <%= f.input :country, label: "Where to?", priority: [ "France" ], collection: [ "Australia", "Brazil", "France", "New Zealand"] %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>
    <%= f.input :tag,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            label: "What style of holiday are you after?",
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: [["ðŸŒ® Food", "Food"],  ["ðŸ—» Mountain", "Mountain"], ["ðŸ– Sea", "Sea"], ["ðŸ› Major City", "Major City"], ["ðŸŽ² Surprise Me!", "Surprise Me!"]] %>

    <%= f.submit "Let's travel", class:"btn standard-button", id:"submit-button" %>
  <% end %>
</div>
</div>

  <%# <%= f.collection_radio_buttons :tag, [['Surprise Me!'], ['Mountain']], :first, :last, item_label_class: 'material-symbols-outlined' %>
