<div class="city-banner d-flex justify-content-center align-items-center" style="background-image: url('<%= image_path "#{@city_journeys.first.city.name}.jpg"%>')">
  <h1> <%= @journey.name %> </h1>
</div>

<div class="page-container">
  <div data-controller="edit-journey">
    <%= render "show_title" %>
    <% @city_journeys.each do |city_journey| %>
      <%= render "city_journey_card", city_journey: city_journey %>
    <% end %>

    <h4 class="ml-2 p-3"> Enjoy your trip! </h4>
  </div>
  <div style="width: 50%">
      <% if current_user.journeys.last.id == @journey.id %>
        <div class="refresh-container d-flex justify-content-center align-items-center">
          <div class="box-3">
              <%= button_to raw('<h1>Try Again!</h1>'), journeys_create_new_path, method: :post , class:"btn btn-3"%>
          </div>
        </div>
      <% end %>
    <%= render "mapbox" %>
  </div>
</div>
