<div class="city-banner d-flex justify-content-center align-items-center" style="background-image: url('<%= image_path "#{@journey.city_journeys.first.city.name}.jpg"%>')">
  <h1> <%= @journey.name %> </h1>
</div>

<div class="page-container">
  <div>
    <h4 class="mb-4"> <%= "This journey starts on #{@journey.start_date.strftime("%a %d %B")} in #{@journey.city_journeys.first.city.name} and ends on #{@journey.end_date.strftime("%a %d %B")} in #{@journey.city_journeys.last.city.name}." %> </h4>
    <% @journey.city_journeys.each do |city_journey| %>
      <%= render "city_journey_card", city_journey: city_journey %>
    <% end %>

    <h4 class="ml-2 p-3"> Enjoy your trip! </h4>
  </div>
  <div style="width: 50%">
    <div>
      <% if current_user.journeys.last.id == @journey.id %>
      <%= button_to "Not happy? Try again", journeys_create_new_path, method: :post , class:"btn trip-btn-cust"%>
      <% end %>
    </div>
    <%= render "mapbox" %>
  </div>
</div>
