<div class="city-banner">
  <h1> <%= @journey.name %> </h1>
</div>

<div class="centered-text">
  <p> <%= "This #{@journey.tag} journey starts on #{@journey.start_date.strftime("%a %d %B %Y")} in #{@journey.city_journeys.first.city.name} and ends on #{@journey.end_date.strftime("%a %d %B %Y")} in #{@journey.city_journeys.last.city.name}." %>
  <p> It will take you through </p>
  <% @journey.city_journeys.each do |city_journey| %>
    <ul>
      <li> <%= " #{city_journey.city.name} from #{city_journey.start_date.strftime("%a %d %B %Y")} to #{city_journey.end_date.strftime("%a %d %B %Y")}" %> </li>
    </ul>
  <% end %>
  <h4> Enjoy your trip </h4>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>




<% image = "#{@journey.city_journeys.first.city.name}.jpg"%>
<%= image_tag("#{image}", :class => "city-banner-2") %>
